@keyframes input {
	0% {
		transform: translate(0px);
	}
	50% {
		transform: translate(4px);
	}
	100% {
		transform: translate(0px);
	}
}

@keyframes like-click-scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes like-sparcs {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 1;
		fill: var(--color-decor-like);
	}
	100% {
		opacity: 0;
	}
}

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: 0.3s 0.1s like-click-scale ease-in forwards;
}

.like-icon.is-liked .sparks {
	animation: 0.4s 0.3s like-sparcs ease-in;
}
