/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

button,
input {
	border: none;
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	cursor: pointer;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
	outline: none;
}

ul,
ol {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	clip-path: inset(50%);
	white-space: nowrap;
}

.filter-sepia {
	filter: sepia(0.7);
}

.filter-saturate {
	filter: saturate(400%);
}

.filter-invert {
	filter: invert(0.3);
}

.filter-brightness {
	filter: brightness(50%);
}

.filter-blur {
	filter: blur(3px);
}

.filter-multiple {
	filter: brightness(0.5) grayscale(100%);
}

.filter-grayscale {
	filter: grayscale(96%);
}
