*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

button,
input {
	border: none;
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

button:focus,
input:focus {
	outline: none;
}

ul,
ol {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	clip-path: inset(50%);
	white-space: nowrap;
}
