.page {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	color: var(--color-accent);
	font-family: var(--font-family-global);
	font-size: 18px;
	background-color: var(--color-background);
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-variation-settings: 'wght' var(--font-weight-global-text);
}

.page::before {
	content: '';
	position: fixed;
	top: 0;
	z-index: -1;
	object-fit: cover;
	object-position: center;
	background-image: repeating-linear-gradient(
			var(--color-gradient-accent) 0px 2px,
			transparent 2px 4px
		),
		repeating-linear-gradient(90deg, var(--color-gradient-accent) 0px 2px, transparent 2px 4px),
		linear-gradient(var(--color-gradient-one), var(--color-gradient-two));
	block-size: 100vh;
	inline-size: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block-start: 100px;
	border: 2px solid var(--color-accent);
	padding-block: 136px 25px;
	font-family: var(--font-family-accent);
	text-align: center;
	background-color: var(--color-background);
	inline-size: min(696px, 100%);
}

.header__link {
	font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
	margin-block-start: 20px;
	font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
	text-transform: uppercase;
}

.theme-menu {
	margin-block-start: 25px;
	font-size: 14px;
	inline-size: min-content;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 14px;
	padding-inline-start: 18px;
}

.theme-menu__button {
	position: relative;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.theme-menu__button::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: var(--color-accent-activ);
	transition: 0.6s ease;
	transform-origin: left center;
	inline-size: 100%;
	transform: scaleX(0);
	block-size: 2px;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
	color: var(--color-accent-activ);
}

.theme-menu__button:focus-visible::after {
	transform: scaleX(1);
}

.theme-menu__button:disabled {
	pointer-events: none;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	left: -24px;
	animation: input 1s ease-in-out infinite;
}

.content {
	padding-block: 100px 103px;
}

.card__list {
	margin: auto;
	inline-size: min(696px, 100%);
}

.card__list li:not(:first-child) {
	margin-block-start: 50px;
}

.card {
	display: flex;
	flex-direction: column;
}

.img_wrapper {
	position: relative;
	display: flex;
}

.card__img {
	border: 2px solid var(--color-accent);
	object-fit: cover;
	object-position: center;
	inline-size: clamp(371px, 100%, 696px);
	block-size: 696px;
}

.card code {
	position: absolute;
	top: 28px;
	right: 26px;
	color: var(--color-accent);
	font-family: var(--font-family-accent);
	font-size: 14px;
	text-shadow: 0px 1px var(--color-background), -1px 1px var(--color-background),
		1px 1px var(--color-background), 0px -1px var(--color-background),
		-1px -1px var(--color-background), 1px -1px var(--color-background);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
	.card code {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--color-background);
		text-stroke: 1px var(--color-background);
	}
}

.card__title {
	border: 2px solid var(--color-accent);
	padding-inline: 8px 0;
	padding-block: 4px;
	font-size: 1em;
	background-color: var(--color-background);
	font-variation-settings: 'wght' var(--font-weight-global-title);
}

.card__content {
	border: 2px solid var(--color-accent);
	padding-inline: 24px;
	padding-block: 26px;
	background-color: var(--color-background);
}

.card__content p:not(:first-child) {
	margin-block-start: 26px;
}

.card__controller {
	display: flex;
	justify-content: end;
	align-items: center;
	column-gap: 4px;
	margin-block-start: 25px;
}

/* ---------------------------------------------------------- */

.like-icon {
	object-fit: cover;
	object-position: center;
}

.card__icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
}

/* ---------------------------------------------------------- */

.card__icon-button .sparks {
	opacity: 0;
}

.card__icon-button .core {
	opacity: 0;
	transition: fill 0.3s 0.03s, opacity 0.3s 0.03s;
}

.card__icon-button .main-body {
	opacity: 0;
	transition: fill 0.3s, opacity 0.3s;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body,
.card__icon-button:active .core,
.card__icon-button:active .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
	opacity: 1;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body {
	fill: var(--color-accent);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
	opacity: 1;
	fill: var(--color-decor-like);
}

/* ---------------------------------------------------------- */

.card__icon-button:hover .core {
	transition: fill 0.3s, opacity 0.3s;
}

.card__icon-button:hover .main-body {
	transition: fill 0.3s 0.05s, opacity 0.3s 0.05s;
}

/* ---------------------------------------------------------- */

.card__icon-button:active .core {
	transition: fill 0.3s, opacity 0.3s;
}

.card__icon-button:active .main-body {
	transition: fill 0.3s 0.05s, opacity 0.3s 0.05s;
}

/* ---------------------------------------------------------- */

.like-icon.is-liked .main-body {
	transition: fill 0.3s 0.03s, opacity 0.3s 0.03s;
}

.like-icon.is-liked .contour {
	transition: fill 0.3s 0.06s, opacity 0.3s 0.06s;
}

/* ---------------------------------------------------------- */

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: 0.3s 0.1s like-click-scale ease-in alternate forwards;
}

.like-icon.is-liked .sparks {
	animation: 0.3s 0.3s like-sparcs ease-in alternate;
}

/* ---------------------------------------------------------- */

.card__icon-button:focus,
.card__icon-button:focus-visible {
	border: 2px solid var(--color-accent);
}

/* ---------------------------------------------------------- */

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	border: 2px solid var(--color-border);
	overflow: hidden;
	color: var(--color-accent);
	font-family: var(--font-family-accent);
	font-size: 14px;
	background-color: var(--color-background);
	transition: 0.3s ease;
	inline-size: 130px;
	block-size: 38px;
}

.btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-accent);
	transition: 0.5s ease-in-out;
	transform: translateX(-100%);
	mix-blend-mode: difference;
	inline-size: 100%;
	block-size: 100%;
}

.btn:hover::after {
	transform: translateX(0);
}

.btn:focus,
.btn:focus-visible {
	box-shadow: 3px 3px var(--color-accent);
}

.button-floppy {
	margin-inline: auto;
	margin-block-start: 50px;
	inline-size: 335px;
	block-size: 55px;
}

.button-floppy .icon-floppy {
	max-width: 21px;
	max-height: 21px;
}

/* ----------------------------------------------------------- */

dialog {
	margin: auto;
	outline: none;
	color: var(--color-accent);
	background-color: var(--color-background);
	transition: opacity 0.2s ease-in-out;
}

dialog:not([open]) {
	opacity: 0;
	pointer-events: none;
}

dialog::backdrop {
	background-color: #00000075;
}

.dialog-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: self-start;
	padding-inline: 30px;
	padding-block: 30px;
	max-inline-size: 353px;
	block-size: 193px;
}

.dialog_form__content {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-family: var(--font-family-accent);
}

.dialog_form__title {
	font-size: 14px;
	line-height: 150%;
	text-transform: uppercase;
	inline-size: 234px;
}

.close {
	margin-block-start: 30px;
	padding-block: 12.5px;
	font-size: 14px;
	line-height: 90%;
	text-transform: uppercase;
	inline-size: 100%;
}

/* ----------------------------------------------------------- */

.filter-sepia {
	filter: sepia(0.7);
}

.filter-saturate {
	filter: saturate(400%);
}

.filter-invert {
	filter: invert(0.3);
}

.filter-brightness {
	filter: brightness(50%);
}

.filter-blur {
	filter: blur(3px);
}

.filter-multiple {
	filter: brightness(0.5) grayscale(100%);
}

.filter-grayscale {
	filter: grayscale(96%);
}
