:root.theme-dark {
	--font-weight-global-title: 785;
	--font-weight-global-text: 465;
	--color-accent: var(--theme-dark-color-accent);
	--color-accent-activ: var(--theme-dark-color-accent-activ);
	--color-background: var(--theme-dark-color-background);
	--color-border: var(--theme-dark-color-border);

	--color-gradient-accent: var(--theme-dark-color-background-gradient-accent);
	--color-gradient-one: var(--theme-dark-color-background-gradient-one);
	--color-gradient-two: var(--theme-dark-color-background-gradient-two);
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-weight-global-title: 785;
		--font-weight-global-text: 465;
		--color-accent: var(--theme-dark-color-accent);
		--color-accent-activ: var(--theme-dark-color-accent-activ);
		--color-background: var(--theme-dark-color-background);
		--color-border: var(--theme-dark-color-border);

		--color-gradient-accent: var(--theme-dark-color-background-gradient-accent);
		--color-gradient-one: var(--theme-dark-color-background-gradient-one);
		--color-gradient-two: var(--theme-dark-color-background-gradient-two);
	}

	.page::before {
		background-image: repeating-linear-gradient(
				var(--color-gradient-accent) 0px 2px,
				transparent 2px 4px
			),
			repeating-linear-gradient(
				90deg,
				var(--color-gradient-accent) 0px 2px,
				transparent 2px 4px
			),
			linear-gradient(var(--color-gradient-one), var(--color-gradient-two));
	}
}

:root.theme-light {
	--font-weight-global-title: 700;
	--font-weight-global-text: 400;
	--color-accent: var(--theme-light-color-accent);
	--color-accent-activ: var(--theme-light-color-accent-activ);
	--color-background: var(--theme-light-color-background);
	--color-border: var(--theme-light-color-border);

	--color-gradient-accent: var(--theme-light-color-background-gradient-accent);
	--color-gradient-one: var(--theme-light-color-background-gradient-one);
	--color-gradient-two: var(--theme-light-color-background-gradient-two);
}

.theme-light .btn::after {
	background-color: var(--color-background);
}

.theme-light .page::before {
	background-image: repeating-linear-gradient(
			var(--color-gradient-accent) 0px 2px,
			transparent 2px 4px
		),
		repeating-linear-gradient(90deg, var(--color-gradient-accent) 0px 2px, transparent 2px 4px),
		linear-gradient(var(--color-gradient-one), var(--color-gradient-two) 0.01%);
}

@media (prefers-color-scheme: light) {
	:root {
		--font-weight-global-title: 700;
		--font-weight-global-text: 400;
		--color-accent: var(--theme-light-color-accent);
		--color-accent-activ: var(--theme-light-color-accent-activ);
		--color-background: var(--theme-light-color-background);
		--color-border: var(--theme-light-color-border);

		--color-gradient-accent: var(--theme-light-color-background-gradient-accent);
		--color-gradient-one: var(--theme-light-color-background-gradient-one);
		--color-gradient-two: var(--theme-light-color-background-gradient-two);
	}

	.btn::after {
		background-color: var(--theme-light-color-accent);
	}

	.page::before {
		background-image: repeating-linear-gradient(
				var(--color-gradient-accent) 0px 2px,
				transparent 2px 4px
			),
			repeating-linear-gradient(
				90deg,
				var(--color-gradient-accent) 0px 2px,
				transparent 2px 4px
			),
			linear-gradient(
				var(--color-gradient-one),
				var(--color-gradient-two) 0.01%,
			);
	}
}
